In [5]:
a = 14
b= a+2.5
b

16.5

In [6]:
a=10
b=3
c=a/b
c

3.3333333333333335

In [7]:
a=14
b=3
c=float(a)/b
c

4.666666666666667

In [9]:
a = 35
b = 'SAI'
c = a + b
c

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
a='sai'
b=2*a
b

'saisai'

In [11]:
a='A'
b='B'
c=a+b
c

'AB'

In [12]:
(a, b) = (2,3)
(a, b) = (b, a)
(a, b)

(3, 2)

In [14]:
a=5
b=2
a=a+b
b=a-b
a=a-b
a

2

In [16]:
a=5
b * b = a
b

SyntaxError: cannot assign to operator (2021449575.py, line 2)

In [17]:
(a, b) = (500, 30)
(c, d) = (40, 51)
(a, b) + (c, d)

(500, 30, 40, 51)

In [19]:
(a, b) = (2, 3)
(c, d) = (4, 5)
(a,b) - (c,d)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [20]:
(a, b) = (2, 3)
(c, d) = (4, 5)
(a, b) - (c, d)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [22]:
(a, b) = (2, 3)
(c, d) = (4, 5)
(a, b) * (c, d)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [23]:
a = 'Harsh'
b = a[1: len(a)]
b

'arsh'

In [24]:
a = 'Harsh'
b = a[3: len(a)]
b

'sh'

In [26]:
a = 'Harsh'
b = a[-3, len(a)]
b

TypeError: string indices must be integers

In [27]:
a = 'tar'
b = 'gen'
a+b

'targen'

In [28]:
a = 'tar'
b = 'gen'
2*(a+b)

'targentargen'